#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

svg {
  background-color: aliceblue;
  width: calc(50% - 20px);
  height: calc(width/4 - 20px);
  margin: 20px;
}

#countLabel {
  display: inline-block;
  min-width: 50px;
}

sub {
  color: #20a1d3;
}
